.commentWrapper {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: .75rem;
}

.commentNavWrapper {
    display: flex;
}

.commentNavWrapper .commentNav {
    cursor: pointer;
    display: none;
}

.commentWrapper:hover .commentNav {
    display: block;
}

.commentWrapper:hover .commentNav i:hover {
    color: crimson;
}