@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu.eot');
  src: url('./assets/fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Ubuntu.woff2') format('woff2'),
  url('./assets/fonts/Ubuntu.woff') format('woff'),
  url('./assets/fonts/Ubuntu.ttf') format('truetype'),
  url('./assets/fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

main.main {
  flex-grow: 1;
  min-height: calc(100vh - 185px);
}
