.wrapperPage {
    position: relative;
    min-height: calc(100vh - 70px);
}

.innerText {
    position: absolute;
    color: #6c757d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}