.blogsCategory {
    width: 100%;
    margin: 1rem 0;
}

.blogsItem {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-bottom: 15px;
}

.blogsItem .card a {
    text-decoration: none;
    text-transform: capitalize;
}